<!--templates/user/signup/confirm-template-->

<div class="signup-form">

  <a href="/#">
    <h1 class="logo ir">
      Tag:cmd
    </h1>
  </a>

  <div class="well">
    <div class="page-header">
      <h1>{{ localise "signupConfirmHeading" }}</h1>
    </div>
    <p> {{ localise "signupConfirmInstruction" }}</p>
    <ol>
      <li>
        <del>{{ localise "providePersonalDetails" }}</del> <i class="icon-ok"></i> {{ localise "done" }}!
      </li>
      <li>
        <strong>{{ localise "verifyAccountEmail" }} <em title="{{data.email}}"> {{truncate data.email 35 "..."}} </em> </strong>
      </li>
      <li>
        <a href="/#">{{ localise "signIn" }}</a> {{ localise "detailsChosen"}}
      </li>
    </ol>
  </div>
</div>
