<div class="well">

    <div class="page-header">
      <h1>Register</h1>
    </div>

    <p>To create your account, please provide all of the following information.</p>
    <form class="form-horizontal">
        <div class="alert alert-error hide" data-type="form-alerts">Error</div>

        <fieldset>
            <legend>About you</legend>
            <div class="control-group">
                <label class="control-label" for="signup-name">Name</label>
                <div class="controls">
                    <div id="signup-name" name="name">
                      <fieldset>
                        <div class="control-group pull-left" style="margin: 0 10px 0 0;">
                          <div>
                            <input id="firstName" name="firstName" classname="input-medium" data-original-title="Is empty" data-placement="top" type="text" class="input-medium" maxlength="200" autocomplete="off" autocapitalize="off">
                            <p class="help-block">First name</p>
                          </div>
                        </div>
                        <div class="control-group span2 pull-left" styl="margin: 0 25px 0 0;">
                          <div>
                            <input id="lastName" name="lastName" classname="input-medium" data-original-title="Is empty" data-placement="top" type="text" class="input-medium" maxlength="200" autocomplete="off" autocapitalize="off">
                            <p class="help-block">Last name</p>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <div class="control-group">
                <label class="control-label" for="phoneNumber">Phone number</label>
                <div class="controls">
                    <input type="text" id="phoneNumber" name="phoneNumber" value="" class="input input-xlarge" maxlength="200" autocomplete="off" autocapitalize="off">
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Your Account</legend>
            <div class="control-group">
                <label class="control-label" for="username">Username</label>
                <div class="controls">
                    <input type="text" id="username" name="username" value="" data-original-title="Username must be completed." class="input input-xlarge" maxlength="200" autocomplete="off" autocapitalize="off">
                    <p class="help-block"> This is what you will use to sign in </p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="userName">Password</label>
                <div class="controls">
                    <input id="password" name="password" classname="input input-medium" type="password" data-original-title="Password must be completed.">
                    <p class="help-block">For security reasons password please use at least one upper case letter, one number and one symbol.</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="userName">Confirm password</label>
                <div class="controls">
                    <input id="passwordConfirm" name="passwordConfirm" classname="input input-medium" type="password">
                </div>
            </div>
        </fieldset>

        <div class="form-actions">
            <button class="btn btn-primary" data-loading-text="loading"><i class=""></i>Register</button>
        </div>
    </form>

</div>
