<form class="form-signin">
	<h2 class="form-signin-heading">Please sign in</h2>
	<div class="alert alert-error" style="display:none;"></div>
	<input type="text" id="login" class="input-block-level" placeholder="Login">
	<input type="password" id="login-password" class="input-block-level" placeholder="Password">
	<label class="checkbox">
		<input type="checkbox" value="remember-me"> Remember me
	</label>
	<a class="btn btn-large pull-right" href="#user/register">Register</a>
	<button class="btn btn-large btn-primary" type="submit">Sign in</button>
</form>